/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



	/*///////////////*/

header{
	
	height: 80px;
	background: #000000;
	color: #ae6248;
	
}


section , footer , button {

	font-family: "Shadows Into Light";
}

section {
	
	font-family: "Shadows Into Light";
	background: url('assect/a.jpg') ; 
	text-align: center;
	height: 540px;


}

h1{
	font-size: 60px;
	padding: 25px;
	margin-bottom: 25px;
}


ul{
	margin-left: 12px;
	font-size: 15px;
}

.a{
	display: inline-block;
}

img{
	margin-left: 15px;
	margin-bottom: 10px;
}


a{
	padding: 8px 8px;
	font-size: 30px;
	color: #583030;
	background: #d69774;
	border-radius: 5px;
}

.fila-1{
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 100px;
}

footer{

	padding-top: 5px;
	padding-left: 20px;
	font-size: 20px;
	height: 60px;
	color: black;
	background-color: #ae6248;
}






